*{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto', arial, sans-serif;
}
.top{
	background: url(img/banner1.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
}
.logo{
	background:#ec6952;
	color: white !important; 
	padding:15px 30px;
	margin-top: -8px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-weight: 700;
}
.nav-item .sign_up{
	text-align: center;
	color: white !important;
	border-color: white;
}
.nav-link .sign_up{
	
	padding: 8px 10px;
}
.sign_up:hover{
background:#ec6952; 
}
.menuphai .nav-item .nav-link{
	padding-right: 30px;
	font-weight: 600;
	transition:  0.4s;
	color: white ;
	font-size: 13px;
}
.menuphai .nav-item .nav-link:hover{
	color:#ec6952; 
}
.active a{
	color:#ec6952 !important; 
}
/*css section*/
.noidung{
	padding-top: 10%;
	color: white;
}
.title{
	font-size: 46px;
	font-weight: 700;
	margin-top: 
}
.intro{
	margin-top: 30px;
	font-size: 20px;
}
.Try{
	margin-top:40px; 
}
.btn-primary{
	padding:8px 30px;
	background: #ec6952 ;
	border-color: #ec6952;
	font-weight: 700;
	font-size: 18px;
}
.btn-primary:hover{
	background: #dc3545;
	border-color: #dc3545;
}
.title1{
	font-size: 36px;
	font-weight: 300;
	margin-top:57px ;
}
.title2{
color: #4a6781;
}
.decs p{
	
	color: #999;
}
.item{
margin-top: 130px;
}
.intro1{
	color: #999;
    font-size: 18px;
}
img.image.img-fluid.img-circle{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.col-sm-9 .quote-content:before{
	content: ""
	background: #f5f5f5;
}
.blockquote p{
	font-size: 1rem;
	color: #999;
	
	
}
.quote-content{
	background: #f5f5f5;
	border-left: 4px solid #e8e8e8;
	padding: 10px;
	border-radius: 4px;
	z-index: 1;
}
.quote-content .rotate{
	position: absolute;
	left: -9px;
	top:20px;
	z-index: 2;
	background: #f5f5f5;
    transform: rotate(45deg);
    display: block;
    width: 15px;
    height: 15px;

}
.blockquote-footer{
	font-size: 13px;
}
.feature-lead{
	margin-top: 5%;
	font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
}
.title4{
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 20px;
}

a.btn.btn-secondary{

	background: none;
	border: 2px solid #ec6952;
	color:  #ec6952;
	padding:8px 20px;
}
a.btn.btn-secondary:hover{
	color: white;
	background:  #ec6952;
}
.noidung2{
	background: #f5f5f5;
	margin-top: 5%;
	
}
.title5 {
	margin-top: 50px;
	margin-bottom: 50px;
}
.carousel-indicators{
	bottom: -20px;
}
.carousel-indicators li {
	margin-top: 70px;
	background:  #ccc;
}
.carousel-indicators .active{
	background:  #ec6952;
}
.khachhang{
	margin-bottom: 50px;
}
@media(max-width: 576px){	
	.logo{
		margin-left: 80px;
	}
	.noidung{
		padding-top: 30%;
	}
	.menuphai{
		background: #253340;
	}
	.menuphai .nav-item .nav-link{
		padding-left: 30px;
	}
	.menuphai .nav-item .nav-link:hover{
		color: #dc3545;
	}
	 .last{
		margin-left:20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.title{
		font-size: 20px;
	}
	.intro{
		font-size: 1rem;
	}
}